@model Articles_UserBased.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@section scripts {
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var message = '@TempData["message"]';
                if (message.startsWith("Warning")) {
                    toastr.warning(message);
                }
                else {

                    toastr.success('@TempData["message"]');
                }
            });
        </script>
    }
}

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <h5>Comments</h5>
    <hr />

    @Html.ActionLink("Add comment", "Create", "Comments", new { articleId = Model.Id }, null)

    <dl class="dl-horizontal">
        @foreach (var comment in Model.Comments)
        {
            <dt>@comment.User.UserName</dt>
            <dd>@comment.Text</dd>
            <dd>
                @if (comment.UserId.Equals(ViewBag.CurrentUserId))
                {
                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, null);
                }
                    @if (comment.UserId.Equals(ViewBag.CurrentUserId) || User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, null);
                }
            </dd>
        }
    </dl>
</div>