@model Articles_UserBased.Models.Article

@{
    ViewBag.Title = "Details";
}
@section scripts {
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var message = '@TempData["message"]';
                if (message.startsWith("Warning")) {
                    toastr.warning(message);
                }
                else {

                    toastr.success('@TempData["message"]');
                }
            });
        </script>
    }
}

        <div>
            <div class="dl-horizontal">
                <div >
                    <h1>
                        @Html.DisplayFor(model => model.Title)
                    </h1>
                    <div>
                        <span>
                            @Html.DisplayFor(model => model.Category.Name)
                        </span>
                        <span>
                            @Html.DisplayFor(model => model.Date)
                        </span>
                    </div>
                </div>
                <div>
                    <p class="article-content">
                        @Html.DisplayFor(model => model.Content)
                    </p>
                </div>

            </div>
            @Html.ActionLink("Add comment", "Create", "Comments", new { articleId = Model.Id }, null)
        </div>
<hr />

<div>
    <h5>Comments</h5>
    <dl class="dl-horizontal">
        @foreach (var comment in Model.Comments)
        {
            <dt>@comment.User.UserName</dt>
            <dd>@comment.Text</dd>
            <dd>
                @if (comment.UserId.Equals(ViewBag.CurrentUserId))
                {
                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, null);
                }
                    @if (comment.UserId.Equals(ViewBag.CurrentUserId) || User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, null);
                }
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>