@model IEnumerable<Articles_UserBased.Models.Article>

@{
    ViewBag.Title = "Index";
}


@section scripts {
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var message = '@TempData["message"]';
                if (message.startsWith("Warning")) {
                    toastr.warning(message);
                }
                else {
                    
                    toastr.success('@TempData["message"]');
                }
            });
        </script>
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#category-select').on('change', function () {
                var categoryId = $(this).val();
                window.location.href = '/Articles/Index?categoryId=' + categoryId;
            })
            $('#category-select > [value ="@ViewBag.CategoryId"]').attr("selected", "true");
        });
    </script>
}

<div class="select-category-wrapper">
    <div>
        Choose @Html.DisplayNameFor(model => model.Category)
    </div>
 
    <div>
        <select id="category-select">
            <option selected value="0">All</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <div>
        @Html.ActionLink("Sort by Title", "Index", new { categoryId = ViewBag.CategoryId, sortOrder = ViewBag.TitleSortParam })
    </div>
    <div>
         @Html.ActionLink("Sort by Date", "Index", new { categoryId = ViewBag.CategoryId, sortOrder = ViewBag.DateSortParam })
    </div>
</div>
<div>
    @foreach (var item in Model)
    {
        @Html.Partial("ShowArticle", item, ViewData);
    }

</div>
<div class="article-buttons-container">
    <div class="article-buttons">
        <div class="create-button">
            @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
            {
                @Html.ActionLink("Create New", "Create")
                <hr />
            }
        </div>
    </div>
    <div class="article-buttons">
        @if (User.IsInRole("User") || User.IsInRole("Administrator"))
        {
            @Html.ActionLink("Got news? Suggest an article.", "SuggestArticle")
        }
    </div>
</div>

