@model IEnumerable<Articles_UserBased.Models.Article>

@{
    ViewBag.Title = "Suggestions";
}

<h2>Suggested articles</h2>

@section scripts {
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var message = '@TempData["message"]';
                if (message.startsWith("Warning")) {
                    toastr.warning(message);
                }
                else {

                    toastr.success('@TempData["message"]');
                }
            });
        </script>
    }
}

<div>
    @foreach (var modelItem in Model)
    {
        <div>
            <div>
                <div class="article-header-container">
                    <h1>
                        @Html.DisplayFor(model => modelItem.Title)
                    </h1>
                </div>
                <div class="author-category-container">
                    <div>
                        @Html.DisplayFor(model => modelItem.SuggestedByUser.UserName)
                    </div>
                    <div>
                        @Html.DisplayFor(model => modelItem.Date)
                    </div>
                </div>
                <div>
                     Category: @Html.DisplayFor(model => modelItem.Category.Name)
                </div>
            </div>
            <p>
                @Html.DisplayFor(model => modelItem.Content)
            </p>
            <div class="article-buttons-container">
                @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                {
                    <div class="suggested-article-buttons">
                        @Html.ActionLink("Edit and publish", "EditAndPublish", new { id = modelItem.Id })
                    </div>
                }

                @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                {
                    <div class="suggested-article-buttons">
                        @Html.ActionLink("Delete", "Delete", new { id = modelItem.Id })
                    </div>
                }
            </div>
        </div>
    }

</div>
