@model IEnumerable<Articles_UserBased.Models.Category>

@{
    ViewBag.Title = "Index";
}

<div>
    <div class="categories-header">
        <div>
            <h1>
                Categories:
            </h1>
        </div>
        <div class="create-category">
            @Html.ActionLink("Create New", "Create")
        </div>
    </div>
    <ul class="categories-list">
        @foreach (var item in Model)
        {
            <li class="category">
                <div class="category-name">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="category-buttons">
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </div>
                    <div>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </div>
                    <div>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </div>
            </li>
        }
    </ul>

</div>
