@model IEnumerable<Articles_UserBased.Models.ApplicationUser>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>
        User List
    </h1>
    <div>
        <div class="user-header">
            <div>
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.UserName)
            </div>
        </div>
        <ul class="user-list">
            @foreach (var item in Model)
            {
                <li class="user">
                        <div>
                            @Html.DisplayFor(modelItem => item.Email)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </div>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </div>
                        <div>
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </div>
                        <div>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </div>
                </li>
            }
        </ul>

    </div>



</body>
</html>
